@use '@angular/material' as mat;

/* Required */
@include mat.core();

/* Define palettes */
$primary: mat.m2-define-palette(mat.$m2-deep-purple-palette);
$accent: mat.m2-define-palette(mat.$m2-amber-palette);
$warn: mat.m2-define-palette(mat.$m2-red-palette);

/* Light theme */
$light-theme: mat.m2-define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  )
));

@include mat.all-component-themes($light-theme);

/* Dark sidebar theme */
$sidebar-theme: mat.m2-define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  )
));

.sidebar-container {
  @include mat.all-component-colors($sidebar-theme);

  --mdc-filled-list-item-primary-text-color: white;
  --mdc-filled-list-item-icon-color: white;
}