@use '@angular/material' as mat;

/* Required once */
@include mat.core();

html {
  height: 100%;

  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$blue-palette,
      tertiary: mat.$orange-palette
    ),
    typography: Roboto,
    density: 0
  ));
}

body {
  margin: 0;
  height: 100%;

  color-scheme: light dark;

  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);

  font: var(--mat-sys-body-medium);
}

/* Custom dark theme for sidebar mat-nav-list */
.sidebar-container {
  @include mat.all-component-themes((
    color: (
      theme-type: dark,
    )
  ));
  
  --mdc-filled-list-item-primary-text-color: white;
  --mdc-filled-list-item-icon-color: white;
}
